accelerate==0.27.2
basicsr==1.4.2
datasets==2.14.5
einops==0.7.0
evaluate==0.4.1
matplotlib==3.8.0
numpy==1.26.4
pandas==2.2.2
Pillow==10.1.0
Pillow==10.3.0
timm==0.9.16
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
transformers==4.38.1
tensorboard==2.17.1
